build*
inst
.cache
compile_commands.json
examples/**/flow
examples/**/grid
examples/**/config
examples/**/log
examples/**/plot
examples/**/*.su2
tests/**/flow
tests/**/grid
tests/**/config
tests/**/log
tests/**/plot
Gemfile
Gemfile.lock
_site
