[submodule "src/include/doctest"]
	path = extern/doctest
	url = git@github.com:doctest/doctest.git
[submodule "extern/kokkos"]
	path = extern/kokkos
	url = git@github.com:kokkos/kokkos.git
[submodule "extern/json"]
	path = extern/json
	url = git@github.com:nlohmann/json.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "extern/--force"]
	path = extern/--force
	url = git@github.com:pybind/pybind11.git
